<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.odoo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>


    <application
        android:name="com.odoo.App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher_custom"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.odoo.core.account.OdooLogin"
            android:label="${applicationName}"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.odoo.core.account.ManageAccounts" />
        <activity
            android:name="com.odoo.OdooActivity"
            android:label="${applicationName}" />
        <activity android:name="odoo.controls.SearchableItemActivity" />
        <activity android:name="com.odoo.SettingsActivity" />
        <activity
            android:name="com.odoo.core.account.AppIntro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".base.addons.mail.widget.MailDetailDialog"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".base.addons.mail.widget.MailChatterCompose"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name="com.odoo.core.account.OdooAccountQuickManage"
            android:theme="@style/Theme.AppCompat.Light.Dialog"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.odoo.core.account.About" />
        <activity android:name="com.odoo.core.account.Profile" />

        <!-- Reminder Receivers// -->
        <receiver android:name="com.odoo.core.utils.reminder.ReminderReceiver" />
        <receiver android:name="com.odoo.core.utils.reminder.ReminderActionReceiver" />

        <service android:name="com.odoo.core.auth.OdooAuthService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <provider
            android:name="com.odoo.core.orm.provider.BaseModelProvider"
            android:authorities="${applicationId}.core.provider.content"
            android:multiprocess="true" />

        <!-- Sync Provider & Service  // -->
        <provider
            android:name="com.odoo.addons.customers.providers.CustomersSyncProvider"
            android:authorities="${applicationId}.core.provider.content.sync.res_partner"
            android:label="@string/sync_label_customers"
            android:multiprocess="true" />

        <service
            android:name="com.odoo.addons.customers.services.CustomerSyncService"
            android:exported="true"
            android:process=":sync_customer">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/customer_sync_adapter" />
        </service>

        <activity
            android:name="com.odoo.addons.customers.CustomerDetails"
            android:windowSoftInputMode="adjustPan" />



        <!--WORKSHOP-->
        <provider
            android:name="com.odoo.addons.workshop.providers.WServiceSyncProvider"
            android:authorities="com.odoo.addons.workshop.content.sync.workshop_service"
            android:label="Services"
            android:multiprocess="true"/>

        <service android:name="com.odoo.addons.workshop.services.WServiceSyncService"
            android:exported="true"
            android:process=":sync_services">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/wservice_sync_adapter"/>
        </service>

        <activity
            android:name=".addons.workshop.ServiceDetails"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name=".addons.workshop.images.ImagesActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:configChanges="orientation|screenSize|keyboardHidden"/>

        <activity android:name=".addons.workshop.images.ImageFull"
            android:theme="@style/Theme.AppCompat.Light"/>

        <activity android:name="nl.changer.polypicker.ImagePickerActivity"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            tools:replace="android:authorities"
            android:authorities="com.odoo.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                tools:replace="android:resource"
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
        <!--CAJA-->
        <provider
            android:name="com.odoo.addons.caja_chica.providers.WCajaSyncProvider"
            android:authorities="com.odoo.addons.caja_chica.content.sync.caja_chica"
            android:label="Registros de Caja"
            android:multiprocess="true"/>

        <service android:name="com.odoo.addons.caja_chica.services.CajaSyncService"
            android:exported="true"
            android:process=":sync_caja">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/caja_sync_adapter"/>
        </service>

        <activity android:name=".addons.caja_chica.CajaDetails"/>
    </application>

</manifest>
